/*!
 * @licence MIT (https://lettercrap.github.io/lettercrap/LICENSE)
 * @author Ozren Dabić
 * @author Davide Ciulla
 */

[data-lettercrap] {
  white-space: pre;
  overflow: hidden;
  font-size: 10px;
  line-height: 10px;
  font-family: monospace;
  padding: 0;
}
