# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Copilot
/copilot/chatSessions/
# Plugins
codeStyleConfig.xml
git_toolbox_prj.xml
jsLibraryMappings.xml
